table {
    border-collapse: collapse;
    margin: auto;
    width: 600px;
    height: 600px;
    table-layout: fixed;
}

td {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    outline: 1px solid black;
    height: 48px;
}


.visited {
    background-color: orange;
}

.current {
    background-color: green;
}

h1{
    margin: 3%;
}

button{
    width: 100px;
    height: 50px;
    margin: 2%;
}

#cross{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#flag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
}

#knight{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
}