body{
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    
    width: 600px;
    height: 600px;
    table-layout: fixed;


}

td {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    outline: 1px solid black;
    height: 48px;
}


.visited {
    background-color: orange;
}

.current {
    background-color: green;
}

h1{
    margin: 3%;
}

button{
    width: 100px;
    height: 50px;
    margin: 0.5%;
}

#cross{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#flag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
}

#knight{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

#container{
    padding: 10px;;
   text-align: center;

    /*display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;*/
}

#tableSection{
    display: inline-block;
}

#aboutContainer{
    position: a;
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 0;
    float: left;
    text-align: left;
}

#aboutSection{
    display: inline-block;
    position: absolute;
    width: 32%;
    border: 1px black solid;
}

#tableSection, #aboutSection{
    padding: 10px;


}